[project]
	description = AngularApp for forex
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amit Sabal (amitsabal)
[access "refs/for/refs/*"]
	read = group user/Amit Sabal (amitsabal)
	push = group user/Amit Sabal (amitsabal)
	label-Code-Review = -2..+2 group user/Amit Sabal (amitsabal)
	label-Verified = -1..+1 group user/Amit Sabal (amitsabal)
	rebase = group user/Amit Sabal (amitsabal)
	removeReviewer = group user/Amit Sabal (amitsabal)
	submit = group user/Amit Sabal (amitsabal)
[access "refs/heads/*"]
	read = group user/Amit Sabal (amitsabal)
	create = group user/Amit Sabal (amitsabal)
	push = +force group user/Amit Sabal (amitsabal)
	pushMerge = group user/Amit Sabal (amitsabal)
[access "refs/tags/*"]
	push = group user/Amit Sabal (amitsabal)
	push = +force group user/Amit Sabal (amitsabal)
